.contact {
    min-height: 100vh;
    padding: 150px 0;

    background: #000;
    &-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        justify-content: space-between;

        margin-bottom: 30px;
        a {
          
            font-size: 2rem;
            text-align: left;
            font-family: var(--manrope-font);
            font-weight: 700;

            color: var(--black);

            transition: 300ms;
            &:hover{
                color: var(--accent-light);
            }
        }
    }
}