@font-face {
  font-family: "ACR";
  src: url("../assets/fonts/Redcollar.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ACR text";
  src: url("../assets/fonts/TTCommons-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

:root {
  --accent-light: #00bfff;
  --accent-dark: #293a45;
  --black: #000;
  --grey: #575757;
  --silver-light: #d3dee6;
  --manrope-font: "ACR", sans-serif;
  --acr-text: "ACR text", sans-serif;

  --br: 3px;
}

html {
  box-sizing: border-box;
  background: var(--black);
}

*,
*::after,
*::before {
  box-sizing: inherit;

  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: var(--manrope-font);

  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.row {
  display: flex;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 175px;
}

.d-block {
  display: block;
}

input {
  outline: none !important;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

img {
  pointer-events: none;
}

@media screen and (max-width: 1900px) {
  .container {
    padding: 0 75px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 35px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0 20px;
  }
}

.AiBanner {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.banner-video {
  position: fixed;
  bottom: -10%;
  left: 74%;
  transform: translateX(-50%);
  width: 54%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.banner-video.fade-out {
  opacity: 0;
  pointer-events: none;
}

.banner {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.banner-content {
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .banner:last-of-type {
    padding-bottom: 40px;
  }
}

@media (max-width: 630px) {
  .banner-video {
    width: 100%;
    left: 50%;
  }

  .banner-video.fade-out {
    opacity: 0;
  }
}

@media (max-width: 480px) {
  .AiBanner {
    height: 75vh;
  }

  .banner-video {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    left: 70%;
    /* bottom: -30px; */
  }
}

h3 {
  /* text-align: left;
  font-family: var(--manrope-font);
  margin-bottom: 60px;
  color: var(--accent-light); */
  font-size: clamp(16px, 2.5rem, 2.5rem);
}

.h2 {
  font-size: clamp(18px, 5vh, 3.5rem) !important;
  font-weight: 900;
  margin-bottom: 60px;
}

.h3 {
  font-size: clamp(16px, 6vw + 4px, 2.5rem);
  margin-bottom: 30px;
}
.text {
  font-size: clamp(14px, 1.5rem, 1.5rem);
}
.tBlue {
  color: var(--accent-light);
  opacity: 0.8;
}
.tCaps {
  text-transform: uppercase;
}
/* декоративные элементы */

/* декоративные элементы */
/* хлебные крошки start */
.breadCrumbs {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
  width: 100%;
  max-width: 800px;
  margin-bottom: 60px;
  z-index: 9;
  position: relative;
  z-index: 9;
}

.breadCrumbs-item {
  color: var(--silver-light);
  font-size: 1rem;
  font-family: var(--manrope-font);
  text-transform: uppercase;

  transition: 300ms;
}
.breadCrumbs-item ~ span {
  color: var(--silver-light);
}
.breadCrumbs-item:hover {
  color: var(--accent-light);
}

.breadCrumbs-item.end {
  color: var(--grey);
  opacity: 0.7;
}

.breadCrumbs-item.rasdel {
  margin-left: auto;
}
@media screen and (max-width: 450px) {
  .breadCrumbs {
    margin-bottom: 30px;
  }
  .breadCrumbs-item.rasdel {
    margin-left: 0;
  }
}
/* хлебные крошки end */
/* стриль кнопки  start */
.butt {
  border-radius: var(--br);
  background: transparent;
  color: var(--accent-light);
  border: 1px solid rgba(255, 255, 255, 0.4);

  transition: all 0.3s ease;
}

.butt:hover:not(:disabled) {
  background: transparent;
  color: var(--accent-light);
  border-color: var(--accent-light);
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 136, 255, 0.3);
}
.butt:hover:not(:disabled) span {
  color: var(--accent-light);
  transform: scale(1.2);
}
.butt:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.butt::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(0, 191, 255, 0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: ripple 0.6s ease-out;
}
.butt span {
  font-weight: 300;
  opacity: 0.8;
  transition: all 0.3s ease;
  color: white;
}
/* стриль кнопки  end */
.hov {
  position: relative;
}

.hov:hover {
  color: var(--accent-light);
}
.hov::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 1px;
  background: var(--accent-light);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}
.hov:hover::after {
  width: 100%;
}
/* ===== 1. Фоновый градиент (металлический / серебристо-голубой) ===== */

.text-logo-on-white {
  font-size: 4.5rem;
  text-align: left;
  margin-bottom: 150px;
  font-family: var(--manrope-font);
  font-weight: 900;

  width: min-content;
  /* text-wrap: nowrap; */
  text-transform: uppercase;
  background: var(--silver-balanced);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  /* лёгкая глубина без утяжеления */
  /* text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35); */
  text-shadow:
    0 0 6px rgb(134 181 227 / 24%),
    0 1px 2px rgba(255, 255, 255, 0.18);

  animation: metallicShift 12s ease-in-out infinite;
  background-size: 200% 200%;
}

.text-silver {
  /* font-size: 3rem;
  text-align: left;
  margin-bottom: 150px;
  font-family: var(--manrope-font);
  font-weight: 700; */
  max-width: min-content;
  text-wrap: nowrap;
  text-transform: uppercase;
  /* заметные голубые спайки между белыми бликами */
  background: linear-gradient(
    90deg,
    #a7ddef 0%,
    #92c4e2 2%,
    #83b6cd 31%,
    #d3dee6 40%,
    #266179 46.5%,
    #abbbc9 69%,
    #83b6cd 78%,
    #266179 96%,
    #d3dee6 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  /* чуть сильнее "воздушный ореол" под тёмный фон */
  /* text-shadow: 0 0 6px rgb(134 181 227 / 24%), 0 1px 2px rgba(255, 255, 255, 0.18); */

  animation: metallicShift 20s ease-in-out infinite;
  background-size: 300% 200%;
}

.text-silver-blue-dark {
  /* font-size: 3rem;
  text-align: left;
  margin-bottom: 150px; */
  font-family: var(--manrope-font);
  /* font-weight: 700; */
  /* max-width: min-content; */
  /* text-wrap: nowrap; */
  text-transform: uppercase;
  /* заметные голубые спайки между белыми бликами */
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #ffffff 2%,
    #7d91a2 31%,
    #7894a9 40%,
    #ffffff 46.5%,
    #7d9aaf 69%,
    #254f63 78%,
    #a3c6e0 96%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  /* чуть сильнее "воздушный ореол" под тёмный фон */
  text-shadow:
    0 0 6px rgba(180, 200, 220, 0.25),
    0 1px 2px rgba(255, 255, 255, 0.18);

  animation: metallicShift 12s ease-in-out infinite;
  background-size: 200% 200%;
}

@keyframes metallicShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media screen and (max-width: 450px) {
  .text-silver-blue-dark,
  .text-silver,
  .text-logo-on-white {
    max-width: none;
    text-wrap: wrap;
    font-size: clamp(12px, 6vw + 3px, 34px);
    line-height: 120%;
  }
}
