.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
    @media (max-width: 700px) {
      padding-top: 120px;
    }

  &__background-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
        rgba(23, 37, 84, 0.2),
        transparent);
    pointer-events: none;
  }


  &__grid {
    display: grid;
    gap: 3rem;
    align-items: center;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__image-wrapper {
    position: relative;
    height: 100%;


  }

  &__image-gradient {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right,
        rgba(156, 163, 175, 0.1),
        rgba(107, 114, 128, 0.1));
    filter: blur(48px);
  }

  &__image {
    position: relative;
    width: 100%;

  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__title {
    font-size: 2.25rem;
    line-height: 1.25;
    font-weight: 700;

    @media (min-width: 768px) {
      font-size: 3.75rem;
    }
  }

  &__title-accent {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right,
        rgb(209, 213, 219),
        rgb(156, 163, 175));
  }
}