.footer {
    padding: 45px 0;
    border-radius: 40px;
}

.footer-box {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.address, .footer-link a, .footer-subtext {
    color: var(--accent-light);
    font-family: var(--montserrat-font);
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.address,
.footer-link {
    margin-bottom: 25px;
}

.footer-subtext {
    letter-spacing: 7%;
    text-align: right;
}

.footer-socials {
    display: flex;
}

.footer-socials a {
    display: block;
    margin-left: 35px;
}